

<mat-card>
  <h1>About</h1>
<p>
  Welcome to Seneca Music, the ultimate destination for music lovers! With our app, you can easily discover the latest releases from your favorite artists and bands on Spotify. Simply search for an artist or browse through our selection of new releases to find the perfect tunes for your mood.
<br><br>
Once you've found a song you like, you can preview a snippit of the track and add it to your favorites list for later listening. Our app also lets you search for specific artists and view their popular tracks, so you can stay up to date with their latest music.
<br><br>
Whether you're a fan of pop, rock, hip hop, or any other genre, Seneca Music has something for everyone. Start exploring and discover your next favorite song today!
</p>
</mat-card>
